@font-face {
  font-family: mojFont;
  src: url("font/static/OpenSans_Condensed-Light.ttf");
}
body {
  font-family: mojFont;
}

.navbar {
  background-color: black;
  padding: 20px;
  position: relative;
}
.navbar .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img {
  width: 100px;
  height: auto;
}
.navbar .nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar .nav-links li {
  margin-right: 20px;
}
.navbar .nav-links li a {
  color: white;
  text-decoration: none;
}
.navbar .hologram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), transparent, transparent, rgba(0, 0, 0, 0.7));
  pointer-events: none;
  z-index: -1;
  opacity: 0.5;
}

.custom-navbar {
  background-color: black;
  padding: 20px;
  position: relative;
}
.custom-navbar .custom-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-navbar .custom-logo img {
  width: 100px;
  height: auto;
}
.custom-navbar .custom-nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.custom-navbar .custom-nav-links ul li {
  margin-right: 20px;
}
.custom-navbar .custom-nav-links ul li a {
  color: white;
  text-decoration: none;
}
.custom-navbar .custom-hologram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), transparent, transparent, rgba(0, 0, 0, 0.7));
  pointer-events: none;
  z-index: -1;
  opacity: 0.5;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 25px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 300px;
}

.picture-gallery {
  height: 100px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 250px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  margin-left: 24px;
}

.navbar .nav-links li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .logo {
  text-transform: uppercase;
}

.navbar .nav-links li a {
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar .logo {
    font-size: 20px;
  }
  .navbar .nav-links li a {
    font-size: 12px;
  }
}
body, html {
  margin: 0;
  padding: 0;
}

.cover {
  background-image: url("img/slika1.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.caption h1 {
  font-size: 56px;
  margin-bottom: 20px;
}

.caption p {
  font-size: 30px;
  opacity: 0.8;
}

.cover {
  position: relative;
  height: 700px;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.picture-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.pictures {
  flex: 1;
  margin-right: 30px;
}

.pictures img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text {
  flex: 1;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.text p {
  font-size: 16px;
  color: #333;
}

.sred {
  display: flex;
  justify-content: center;
}

hr {
  border: none;
  border-top: 4px solid #ccc;
  margin: 40px auto;
  width: 40%;
}

.pictures img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.picture-gallery {
  padding: 50px 0;
}

.picture-gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picture-gallery .container .pictures {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 40px;
}

.picture-gallery .container .pictures img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.picture-gallery .container .pictures img:hover {
  transform: scale(1.05);
}

.picture-gallery .container .pictures .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.picture-gallery .container .picture:hover .overlay {
  opacity: 1;
}

.picture-gallery .container .picture .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.picture-gallery .container .picture:hover .caption {
  opacity: 1;
}

.picture-gallery .container .picture .caption h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.picture-gallery .container .picture .caption p {
  font-size: 14px;
}

.text-section {
  padding: 50px 0;
}

.text-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-section .container .text {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}
.text-section .container .text:hover {
  transform: translateY(-10px);
}
.text-section .container .text i {
  display: block;
  text-align: center;
  font-size: 54px;
  color: black;
  margin-bottom: 0px;
  animation: spin 2s infinite linear;
}
.text-section .container .text .caption {
  text-align: center;
}
.text-section .container .text .caption h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.text-section .container .text .caption p {
  font-size: 14px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text h3, p {
  color: black;
}

.text-section .container {
  display: flex;
  justify-content: space-between;
}

.text-section .text {
  position: relative;
  width: calc(25% - 20px);
  text-align: center;
}

.text-section .text i {
  display: block;
  font-size: 48px;
  color: #333;
  margin-bottom: 10px;
}

.text-section .text .caption {
  position: relative;
}

.text-section .text .caption h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.text-section .text .caption p {
  font-size: 16px;
}

.picture-gallery {
  padding: 50px 0;
  margin-bottom: 300px;
}

.picture-gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picture-gallery .container .picture {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 40px;
}

@media (max-width: 1084px) {
  .picture-gallery .container .picture {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .picture-gallery .container .picture {
    width: 100%;
  }
}
.picture-gallery .container .picture img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.picture-gallery .container .picture img:hover {
  transform: scale(1.05);
}

.picture-gallery .container .picture .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.picture-gallery .container .picture:hover .overlay {
  opacity: 1;
}

.picture-gallery .container .picture .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.picture-gallery .container .picture:hover .caption {
  opacity: 1;
}

.picture-gallery .container .picture .caption h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.picture-gallery .container .picture .caption p {
  font-size: 14px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f0f0f0;
}

.footer-text {
  font-size: 14px;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.text i {
  display: block;
  text-align: center;
  font-size: 54px;
  color: black;
  margin-bottom: 0px;
  animation: spin 2s infinite linear;
}

.formica {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

.formica {
  margin-bottom: 400px;
}

.custom-navbar {
  background-color: #d3d3d3;
  padding: 20px;
  position: relative;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.custom-nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.custom-nav-links ul li {
  margin-right: 20px;
}

.custom-nav-links ul li:last-child {
  margin-right: 0;
}

.custom-nav-links ul li a {
  color: white;
  text-decoration: none;
}

.custom-hologram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), transparent, transparent, rgba(0, 0, 0, 0.5));
  pointer-events: none;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-with-text {
  display: flex;
  align-items: center;
}

.image-with-text img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.text {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image-with-text img {
    margin: 0;
    margin-bottom: 20px;
  }
}
.sekcija {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.formica {
  width: 50%;
}

.mapa {
  width: 50%;
}

p {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  border-left: 4px solid #d3d3d3;
  position: relative;
}

p:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 100%;
  background: linear-gradient(to bottom, #d3d3d3, transparent);
  border-radius: 0px 5px 5px 0px;
}

.picture-section {
  background-color: #d3d3d3;
}

header.custom-navbar {
  background-color: darkgray;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #d3d3d3;
}

footer a {
  margin-top: 40px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

footer i {
  transition: transform 0.9s ease-in-out;
}

footer i:hover {
  transform: rotate(360deg);
}/*# sourceMappingURL=style.css.map */